/* Lightbox */
#lightbox
{
  background-color:#eee; 
  padding: 10px; 
  border-bottom: 2px solid #666; 
  border-right: 2px solid #666;
}

#overlay {
  background-image: url("/scriptaculous/images/overlay.png"); 
}

* html #overlay
{
  background-color: #000; 
  back\ground-color: transparent;
  background-image:url(/scriptaculous/images/void.gif); 
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/scriptaculous/images/overlay.png",
  sizingMethod="scale");
}
