[% currentPage = 'confirmDeleteObject.html' %]
[% id = modwheel.getParam('id') %]
[% name = modwheel.getParam('name') %]
[% type = modwheel.getParam('type') %]

<div style="font-size: 24pt;" id="mwlightbox">
<p style="text-align: center; float: center; display: block; background: #afafaf">Move [% type %] "[% name %]" to trash?</p>
<p style="text-align: center;">Do you really want to move this [% type %] to the Trash?</p>
<p style="text-align: center;"><a href="#" onClick="hideLightbox()">[ No ]</a>
<a href="#" onClick="return moveObjectToTrash('[% id %]')">[ Yes ]</a></p>
</div>
