[% DEFAULT currentPage = 'index.html' %]
[% #parent = modwheel.parent() %]
<p id="path">
[% IF includeChangePathButton == 'Yes' %]
[% END %]
[% tree = modwheel.fetchObjectTree(parent) %]
[% FOREACH node = tree %]
    ::
    [% IF node.id == parent %]
        [% node.name %]
    [% ELSE %]
        [% IF includeChangePathButton == 'Yes' %]
            [% node.name %]
        [% ELSE %]
            <a  onClick="Effect.Fade('path')" href="[% currentPage %]?parent=[% node.id %]">[% node.name %]</a>
        [% END %]
    [% END %]
[% END %]
[% IF includeChangePathButton == 'Yes' %]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onClick="newMiniBrowser('[% parent %]')" value="Change" />
[% END %]

</p>
