<html>
    <head>
        <title>Lightbox - Test</title>
        <link rel="stylesheet" href="/scriptaculous/lightbox.css" type="text/css" />
        <script src="/scriptaculous/prototype.js" language="javascript" type="text/javascript"></script>
        <script src="/scriptaculous/scriptaculous.js" language="javascript" type="text/javascript"></script>
        <script src="/scriptaculous/lightbox.js" language="javascript" type="text/javascript"></script>
    </head>
    <body>

    <h3> What is a lightbox? </h3>
    <p class="highlight">Lightbox is an unobtrusive script used to overlay content on the current page.</p>

<a href="#" onclick="lightbox('/newArticle.html', {height:380, width:500, overflow:'hidden'});">[Delete]</a>

[%INCLUDE footer.html %]


