<p id="menu">
    [% parent = modwheel.parent() %]
    <big>&gt;&gt;Modwheel</big><br />
    [ <a class="category" href="index.html">Directory:</a>
        <a class="subcategory" href="new.html?parent=[% parent %]">New article</a> 
        <b>|</b> <a href="newDir.html?parent=[% parent %]">New directory</a>
        <b>|</b> <a href="search.html">Search</a>
        <b>|</b> <a href="trash.html?parent=-1">Trash</a>
    ]
    [
      <b><a href="users.html">Users: </a></b> <a href="newUser.html">New user</a>
    ]
</p>
