[% id = modwheel.getParam('id') %]
[% taglist = modwheel.getAllTags %]
[% rowWidth = 5 %]
[% IF taglist %]
    <table border="0" width="60%">
    <tr>
    [% c = 1 %]
    [% i = 1 %]
    [% FOREACH tag = taglist %]
        <td style="padding: 0.5em; border: 1px dotted black; font-weight: bold; font-size: 14pt;">
            <a onClick="connectToTagAndFade('tagi_[% i %]', '[% tag.id %]')" href="#tagi_[% i %]" id="tagi_[% i %]">[% tag.name %]</a>
        </td>
        [% IF c == rowWidth %]
            [% c = 0 %]
            </tr><tr>
        [% END %]
        [% c = c + 1 %]    
        [% i = i + 1 %]
    [% END %]
    </tr>
    </table>
[% END %]

<!--<p style="font-size: 24pt; "><a href="#" onClick="hideLightbox()">[ Close this window ]</a>-->
