[% objid   = modwheel.getParam('objid') %]
[% tagid   = modwheel.getParam('tagid') %]
[% tagname = modwheel.getParam('tagname') %]
[% action  = modwheel.getParam('action') %]
[% IF    action == 'disconnect' and objid and tagid %]
   [% modwheel.disconnectFromTag(tagid, objid) %]
[% ELSIF action == 'connect'    and objid and tagid %]
   [% modwheel.connectWithTag(tagid, objid) %]
[% ELSIF action == 'create'     and tagname %]
   [% modwheel.createTag(tagname) %]
   [Click here to create new tag]
[% ELSIF action == 'delete'     and tagid   %]
   [% modwheel.deleteTag(tagid) %]
[% END %]
